.section .section-title .section-nav {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.section .section-title .section-nav ul {
	display: flex;
	padding: 1.2rem 0;
}

.section .section-title .section-nav ul li {
	margin-left: 2rem;
	list-style: none;
}

.section .section-title .section-nav ul li button {
	color: #3333334f;
	font-weight: 600;
	text-decoration: none;
	border: 0;
}

.section .section-title .section-nav ul li:hover button {
	padding-bottom: 3px;
	transition: all 0.3s;
	cursor: pointer;
	background-color: #d1002480;
	color: #fff;
}

.products-tabs {
	width: 100%;
}

.products-tabs .products-slick {
	display: flex;
	margin: 10px 0;
	width: 100%;
}

.product {
	position: relative;
	margin: 15px 15px;
	box-shadow: 0px 0px 0px 0px #e4e7ed, 0px 0px 0px 1px #e4e7ed;
	transition: 0.2s all;
	height: 100%;
}

.product:hover {
	-webkit-box-shadow: 0px 0px 6px 0px #e4e7ed, 0px 0px 0px 2px #d10024;
	box-shadow: 0px 0px 6px 0px #e4e7ed, 0px 0px 0px 2px #d10024;
}

.slick-slider {
	width: 100%;
}

.slick-initialized .slick-slide {
	display: block;
	width: 280px;
	height: 570px;
	padding: 20px;
}

.product .product-img {
	position: relative;
}

.product .product-img > img {
	width: 100%;
}

.product .product-img .product-label {
	position: absolute;
	top: 15px;
	right: 15px;
}

.product .product-img .product-label > span {
	border: 2px solid;
	padding: 2px 10px;
	font-size: 12px;
}

.product .product-img .product-label > span.sale {
	background-color: #fff;
	border-color: #d10024;
	color: #d10024;
}

.product .product-img .product-label > span.new {
	background-color: #d10024;
	border-color: #d10024;
	color: #fff;
}

.product .product-body {
	position: relative;
	padding: 15px;
	background-color: #fff;
	text-align: center;
	z-index: 20;
}

.product .product-body .product-category {
	text-transform: uppercase;
	font-size: 12px;
	color: #8d99ae;
}

.product .product-body .product-name {
	text-transform: uppercase;
	font-size: 14px;
}

.product .product-body .product-name > .product-name-detail {
	font-weight: 700;
	text-decoration: none;
}

.product .product-body .product-name > .product-name-detail:hover,
.product .product-body .product-name > .product-name-detail:focus {
	color: #d10024;
	text-decoration: none;
}

.product .product-body .product-price {
	color: #d10024;
	font-size: 18px;
}

.product .product-body .product-price .product-old-price {
	font-size: 70%;
	font-weight: 400;
	color: #8d99ae;
}

.product .product-body .product-rating {
	position: relative;
	margin: 15px 0px 10px;
	height: 20px;
}

.product .product-body .product-rating > i {
	position: relative;
	width: 15px;
	margin-right: 4px;
	background: #fff;
	color: #e4e7ed;
	z-index: 10;
}

.product .product-body .product-rating > i.fa-star {
	color: #ef233c;
}

.product .product-body .product-rating:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 1px;
	background-color: #e4e7ed;
}

.product .product-body .product-btns > button {
	position: relative;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: transparent;
	border: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	outline: none;
}

.product .product-body .product-btns > button:hover {
	background-color: #e4e7ed;
	color: #d10024;
	border-radius: 50%;
}

.product .product-body .product-btns > button .tooltipp {
	position: absolute;
	bottom: 100%;
	left: 50%;
	-webkit-transform: translate(-50%, -15px);
	-ms-transform: translate(-50%, -15px);
	transform: translate(-50%, -15px);
	width: 150px;
	padding: 10px;
	font-size: 12px;
	line-height: 10px;
	background: #1e1f29;
	color: #fff;
	text-transform: uppercase;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.product .product-body .product-btns > button:hover .tooltipp {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate(-50%, -5px);
	-ms-transform: translate(-50%, -5px);
	transform: translate(-50%, -5px);
}

.product .add-to-cart {
	position: absolute;
	left: 1px;
	right: 1px;
	bottom: 1px;
	padding: 15px;
	background: #1e1f29;
	text-align: center;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	z-index: 2;
	outline: none;
}

.product:hover .add-to-cart {
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}

.product .add-to-cart .add-to-cart-btn {
	position: relative;
	border: 2px solid transparent;
	height: 40px;
	padding: 0 30px;
	background-color: #ef233c;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 40px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.product .add-to-cart .add-to-cart-btn > i {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	line-height: 38px;
	color: #d10024;
	opacity: 0;
	visibility: hidden;
}

.product .add-to-cart .add-to-cart-btn:hover {
	background-color: #fff;
	color: #d10024;
	border-color: #d10024;
	padding: 0px 30px 0px 50px;
}

.product .add-to-cart .add-to-cart-btn:hover > i {
	opacity: 1;
	visibility: visible;
}

@media only screen and (max-width: 1200px) {
	.product {
		height: 445px;
	}
	.product .add-to-cart .add-to-cart-btn {
		height: 30px;
		padding: 0 20px;
		font-size: 0.9rem;
	}
	
	.product .add-to-cart .add-to-cart-btn > i {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 0.9rem;
	}
	.product .add-to-cart .add-to-cart-btn:hover {
		padding: 0px 20px 0px 30px;
	}
}

@media only screen and (max-width:990px) {
	.product {
		height: 445px;
	}
}

@media only screen and (max-width:768px) {
	.product {
		height: 500px;
	}
}

@media only screen and (max-width:425px) {
	.product {
		height: 600px;
	}
}