.navigation {
	background: #fff;
	border-bottom: 2px solid #e4e7ed;
	border-top: 3px solid #d10024;
}

.navigation .responsive-nav ul {
	display: flex;
	flex-direction: row;
	padding: 1.5rem 0;
}

.mr {
	margin-right: 2rem;
	color: #333;
}

#nav-1::after,
#nav-2::after,
#nav-3::after,
#nav-4::after,
#nav-5::after,
#nav-6::after {
	content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #D10024;
    transition: 0.2s all;
}

#nav-1:hover::after,
#nav-2:hover::after,
#nav-3:hover::after,
#nav-4:hover::after,
#nav-5:hover::after,
#nav-6:hover::after {
	width: 100%;
}

#nav-1.active::after,
#nav-2.active::after,
#nav-3.active::after,
#nav-4.active::after,
#nav-5.active::after,
#nav-6.active::after {	
	width: 100%;
}

#nav-1.active,
#nav-2.active,
#nav-3.active,
#nav-4.active,
#nav-5.active,
#nav-6.active {
	color: #d10024;
}

#nav-1:hover,
#nav-2:hover,
#nav-3:hover,
#nav-4:hover,
#nav-5:hover,
#nav-6:hover {
	color: #d10024;	
}

.menu-icon {
	width: 100%;
	display: none;
	font-size: 1.7rem;
	padding: 1.5rem 0;
}

.menu-icon .fas {
	margin-bottom: 20px;
	float: right;
}

.menu-icon .fas:hover {
	cursor: pointer;
}

.main-nav-bar {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ml {
	width: 100%;
	color: #333;
	margin-right: 0;
	font-size: 1.2rem;
	border-bottom: 1px solid;
}

@media only screen and (max-width: 776px) {
	.responsive-nav {
		display: none;
	}
	.menu-icon {
		display: block;
	}
}

@media only screen and (max-width: 460px) {
	.navigation {
		width: 100%;
	}
}
