tr .img {
	position: relative;
}

tr .img img {
	width: 50px;
}

tr .img:hover img {
	position: absolute;
	width: 300px;
	top: -200px;
	left: -100px;
	transition: all 0.5s;
	cursor: pointer;
}

tr td .name-product {
	color: rgb(7, 64, 170);
}

tr td .name-product:hover {
	color: rgb(51, 0, 117);
	text-decoration: none;
	font-size: 1.2rem;
	transition: all 0.2s;
}

.nothing-cart {
	min-height: 300px;
}

.nothing-cart h2 {
	margin-top: 100px;
}

.nothing-cart button {
	margin-top: 40px;
}

.checkout button {
	box-shadow: 3px 4px 0px 0px #899599;
	background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color: #ededed;
	border-radius: 15px;
	border: 1px solid #d6bcd6;
	display: inline-block;
	cursor: pointer;
	color: #3a8a9e;
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	padding: 8px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #e1e2ed;
	outline: none;
}

.checkout button:hover {
	background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color: #bab1ba;
	text-decoration: none;
}

.order-btn {
	color: #7685f7;
	outline: none;
}
.order-btn:hover {
	text-decoration: none;
	outline: none;
}
.order-btn:active {
	position: relative;
	top: 1px;
	outline: none;
}

@media only screen and (max-width: 991px) {
	h5 {
		font-size: 0.9rem;
	}
	tr {
		font-size: 0.7rem;
	}

	tr td .name-product {
		font-size: 0.8rem;
	}

	tr td .name-product:hover {
		font-size: 1rem;
	}
	tr .img img {
		width: 30px;
	}

	tr .img:hover img {
		width: 200px;
		top: -100px;
		left: -100px;
	}

	.old-price,
	.paid {
		display: none;
	}
}

@media only screen and (max-width: 991px) {
	h5 {
		font-size: 0.8rem;
	}
	tr {
		font-size: 0.5rem;
	}

	tr td .name-product {
		font-size: 0.7rem;
	}

	tr td .name-product:hover {
		font-size: 0.8rem;
	}
	tr .img img {
		width: 20px;
	}

	tr .img:hover img {
		width: 100px;
		top: -90px;
		left: -50px;
	}

	.money {
		font-size: 0.7rem !important;
	}

	.old-price,
	.paid {
		display: none;
	}

	.cal,
	.inputQty {
		width: 30px !important;
		height: 25px !important;
	}

	.cal {
		position: relative;
	}

	.cal i {
		position: absolute;
		font-size: 0.8rem;
		top: 5px;
		left: 7px;
	}

	.btn-del {
		font-size: 0.7rem;
	}

	.subtotal h3 {
		font-size: 1.2rem !important;
	}

	.subtotal .sub {
		font-size: 1.5rem !important;
	}

	.num {
		display: none;
	}
}

@media only screen and (max-width: 1199px) {
	tr th,
	tr td {
		font-size: 1rem !important;
	}
}

@media only screen and (max-width: 767px) {
	tr th,
	tr td {
		font-size: 0.5rem !important;
	}
}

@media only screen and (max-width: 572px) {
	.card-header {
		font-size: 1.5rem !important;
	}

	.new-price {
		display: none;
	}
}

@media only screen and (max-width: 525px) {
	tr th,
	tr td {
		font-size: 0.4rem;
	}

	tr .img {
		display: none;
	}

	.card-header {
		font-size: 1rem !important;
	}

	.sub-total h3 {
		font-size: 1rem !important;
	}

	.sub-total h4 {
		font-size: 1.5rem !important;
	}

	.checkout button {
		font-size: 12px;
		padding: 8px 15px;
	}

	.order-btn {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 460px) {
	tr th,
	tr td {
		font-size: 0.2rem !important;
	}

	.card-header {
		font-size: 0.8rem !important;
	}

	.money {
		font-size: 0.6rem !important;
	}

	.btn-del {
		font-size: 0.4rem;
	}

	.name-product {
		font-size: 0.2rem !important;
	}

	.card {
		width: 335px;
	}
}
