body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #333;
}

/*----------------------------*\
	Top header
\*----------------------------*/

#top-header {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #1e1f29;
}

.header-links li {
	display: inline-block;
	margin-right: 15px;
	font-size: 12px;
}

.header-links li:last-child {
	margin-right: 0px;
}

.header-links li a {
	color: #fff;
}

.header-links li a:hover {
	color: #d10024;
}

.header-links li i {
	color: #d10024;
	margin-right: 5px;
}

/*----------------------------*\
	Logo
\*----------------------------*/

#header {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #15161d;
}

.header-logo {
	float: left;
}

.header-logo .logo img {
	display: block;
}

/*----------------------------*\
	Search
\*----------------------------*/

.header-search {
	padding: 15px 0px;
	width: 100%;
}

.header-search form {
	position: relative;
	display: flex;
	width: 100%;
}

.header-search form select {
	height: 40px;
	flex: 2;
	color: #333;
	font-weight: 400;
	border-radius: 40px 0px 0px 40px;
	background-color: #fff;
	padding-left: 10px;
	outline: none;
}

.header-search form input {
	flex: 3;
	height: 40px;
	color: #333;
	font-weight: 400;
	padding-left: 10px;
	outline: none;
}

.header-search form .search-btn {
	height: 40px;
	flex: 2;
	background: #d10024;
	color: #fff;
	font-weight: 700;
	border: none;
	border-radius: 0px 40px 40px 0px;
	outline: none;
}

@media only screen and (max-width: 1198px) {
	.header-search form select {
		height: 40px;
		font-size: 0.9rem;
		color: #333;
		font-weight: 400;
		border-radius: 40px 0px 0px 40px;
		background-color: #fff;
		padding-left: 10px;
		outline: none;
	}

	.header-search form input {
		height: 40px;
		font-size: 0.9rem;
		color: #333;
		font-weight: 400;
		padding-left: 10px;
		outline: none;
	}

	.header-search form .search-btn {
		height: 40px;
		font-size: 0.9rem;
		background: #d10024;
		color: #fff;
		font-weight: 700;
		border: none;
		border-radius: 0px 40px 40px 0px;
		outline: none;
	}
}

@media only screen and (max-width: 990px) {
	.header-logo {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.header-search {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}
/*----------------------------*\
	Cart
\*----------------------------*/

.header-ctn {
	float: right;
	padding: 15px 0px;
}

.header-ctn .cart {
	display: flex;
	flex-direction: column;
	color: #fff;
	position: relative;
	opacity: 0.9;
	font-size: 1.2rem;
}

.header-ctn .cart .qty {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 8px;
	top: -12px;
	width: 25px;
	height: 25px;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	background-color: #d10024;
}

.navigation {
	display: flex;
	flex-direction: row;
	background: #fff;
	border-bottom: 2px solid #e4e7ed;
	border-top: 3px solid #d10024;
}

@media only screen and (max-width: 576px) {
	.header-search form select {
		height: 30px;
		flex: 1;
		font-size: 0.8rem;
	}

	.header-search form input {
		flex: 1;
		height: 30px;
		font-size: 0.8rem;
	}

	.header-search form .search-btn {
		height: 30px;
		flex: 1;
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 460px) {
	#header {
		width: 100%;
	}

	.footer {
		width: 100%;
	}

	.header-search form select {
		width: 115px;
		font-size: 0.7rem;
	}

	.header-search form input {
		width: 115px;
		font-size: 0.7rem;
	}

	.header-search form .search-btn {
		width: 115px;
		font-size: 0.7rem;
	}
}
